footer {
    height: 800px;
    background-color: rgb(83, 83, 83);
    font-family: "Quicksand"
}

.footer-content {
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

.contact-information h3 {
    margin: 0;
    text-align: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: 100;
}

.subscribe-form {
    text-align: left;
}

#subscribe-input,
#subscribe-btn {
    border: none; /* Remove border */
    border-radius: 0; /* Remove border-radius */
    margin-right: 20px; /* Add spacing between elements */
}

#subscribe-input {
    width: 180px;
    height: 25px;
}

#subscribe-btn {
    width: 80px;
    height: 27px;
    color: white;
    background-color: rgb(134, 87, 0);
    font-size: 14px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    transition: background-color 0.3s ease-out;
}

#subscribe-btn:hover {
    background: rgb(46, 46, 46);
    transition: background-color 0s;
}

.contact-information img {
    height: 32px;
    margin-right: 4px;
}

.contactinfo-item {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: flex-start; /* Align items to the left */
    padding-top: 15px;
}

.contactinfo-item img,
.contactinfo-item p {
    display: inline;
}

.contact-formular {
    text-align: left;
}

#message-input-email,
#message-input-message,
#message-input-subject,
#message-btn {
    border: none; /* Remove border */
    border-radius: 0; /* Remove border-radius */
    margin: 5px;
}

#message-input-email,
#message-input-subject {
    width: 274px;
    height: 25px;
}

#message-input-message {
    height: 25px;
    width: 180px;
}

#message-btn {
    width: 80px;
    height: 27px;
    color: white;
    background-color: rgb(134, 87, 0);
    font-size: 14px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
    transition: background-color 0.3s ease-out;
}

#message-btn:hover {
    background: rgb(46, 46, 46);
    transition: background-color 0s;
}